@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--text-color: --#181818;
	--background-color: #efefef;
	--accent-color-1: #1e54f7;
	--accent-color-2: #f71e1e;
}
body {
	background-color: var(--background-color);
	color: var(--text-color);
	box-sizing: border-box;
}
